<h1>Lista de Empleados</h1>
<!-- <div *ngFor="let employee of employees | async" style="width: 300px;">
    <app-detail-employee [employee]='employee'></app-detail-employee>
</div>
<div> <button type="button" class="button btn-danger" (click)='deleteEmployees()'>Delete All</button> </div> -->

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col" class="text-center">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">APELLIDO</th>
            <th scope="col">EMAIL</th>
            <th scope="col">
                [ACCIONES]
                <button mat-icon-button style="-webkit-text-fill-color: #218838" data-toggle="modal" data-target="#modalMtoEmpleado" (click)="confirmarEditar(null)"><mat-icon>add_circle</mat-icon></button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees | async">
            <td>{{employee.id}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td>
                <button mat-icon-button color="primary" data-toggle="modal" data-target="#modalMtoEmpleado" (click)="confirmarEditar(employee)"><mat-icon>edit</mat-icon></button>&nbsp;
                <button mat-icon-button color="warn" (click)="confirmarEliminar(employee.id)"><mat-icon>delete</mat-icon></button>
            </td>
        </tr>
</table>

<app-form-employee [employee]="employee" (agregaEdita)="recargarGrilla($event)"></app-form-employee>